.introduction_container {
  padding-top: 64px;
  text-align: center;

  .introduction_element_container {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .introduction_element {
      text-align: left;
      padding: 20px;
      flex: 1;
    }
  }

  .introduction_element_container_mobile {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .introduction_element {
      text-align: left;
      padding: 20px;
      flex: 1;
    }
  }
}
