.introduction_container {
  padding-top: 64px;
  text-align: center;

  .introduction_element_container {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 150px;

    .introduction_element {
      text-align: left;
      padding: 20px;
      flex: 1;
    }
  }

  .introduction_element_container_mobile {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;

    .introduction_element {
      text-align: left;
      padding: 20px;
      flex: 1;
    }
  }

  .bold_blue {
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #004f74;
  }

  .blue {
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #004f74;
  }

  .bold_white {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    color: white;
  }

  .white {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: white;
  }

  .normal {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  .subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6c757d;
  }
}
