body {
  margin: 0;
}
.noto_12 {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #333333;
}
.noto_24 {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #004f74;

  &.bold {
    font-weight: bold;
  }
}
.noto_16 {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #343a40;
}
.mont_14 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6c757d;

  &.black {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #343a40;
  }
}
.mont_16 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #343a40;
}
.mont_20 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #004f74;
}
.mont_24 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

  &.green {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #004f74;
  }
}
.mont_32 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  color: #ffffff;
}
.bai_24 {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #004f74;
}
.bai_32 {
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #004f74;
}

.layout_container {
  position: relative;
  .pop_up {
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 2;
  }

  .animation {
    transition: opacity;
    transition-duration: 1s;
    opacity: 0;

    &.isShown {
      opacity: 1;
    }
  }

  .main {
    height: 100vh;
    overflow-y: scroll;

    .part_title {
      margin-bottom: 60px;
    }

    .header_container {
      position: sticky;
      top: 0;
      z-index: 3;
      background-color: white;
      display: flex;
      padding: 0 60px;
      height: 88px;
      flex-direction: row;
      align-items: center;

      @media (max-width: 800px) {
        & {
          justify-content: space-between;
          padding: 0 0;
        }
      }

      .fuban_logo {
        &:hover {
          cursor: pointer;
        }
      }

      .navbar_logo {
        width: 30px;
        height: 30px;
        margin-right: 20px;

        &:hover {
          cursor: pointer;
        }
      }

      .navbar_container_mobile {
        position: absolute;
        background-color: white;
        top: 88px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(52, 58, 64, 0.6);
        z-index: 1;

        .navbar_element_mobile {
          padding: 15px 0;
          text-align: center;
          font-family: Mulish;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          color: white;
          flex: 1;
          &.current {
            color: #30daa2;
            border-bottom: 4px solid #30daa2;
          }

          &:hover {
            cursor: pointer;
            color: #00a59b;
          }
        }
      }

      .navbar_container {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .navbar_element {
          margin: 0 10px;
          font-family: Mulish;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;

          &.current {
            color: #00a59b;
          }

          &:hover {
            cursor: pointer;
            color: #30daa2;
          }
        }
      }
    }
  }

  .scroll_to_top {
    position: fixed;
    right: 30px;
    bottom: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}
