.origin_container {
  text-align: center;

  .origin_description {
    width: 90%;
    text-align: center;
    margin: 20px auto;
  }

  .origin_element_container {
    // width: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    // margin: 0 auto;
    padding: 0 5%;
    margin-top: 60px;

    .origin_element {
      text-align: left;
      padding: 20px;
      flex: 1;

      .origin_learn_more {
        margin-top: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .origin_element_container_mobile {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;

    .origin_element {
      text-align: left;
      padding: 20px;
      flex: 1;

      .origin_learn_more {
        margin-top: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
