.footer_container {
  margin-top: 60px;
  margin-bottom: 20px;
  .footer_element {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #333333;
  }
}
